# Xcode
DerivedData/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
.idea/

# SwiftPM
.build/
.swiftpm/xcode/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Swift Package Manager
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User-specific files
*.swp
*.DS_Store
